<section class="{{ type }}">
  {{#if specificity }}
  <h3 class="specificity">{{{ specificity.html }}}</h3>
    {{#if title }}
    <p class="title">{{ title }}</p>
    {{/if }}
  {{else }}
    {{#if title }}
    <h3>{{ title }}</h3>
    {{/if }}
  {{/if }}
  {{{ html }}}
</section>
