{{#if indicationsAndDoses.indicationAndDoseGroups }}
<section class="indicationAndDoseGroups">
  {{#each indicationsAndDoses.indicationAndDoseGroups as |indicationAndDoseGroup| }}
  <section class="indicationAndDoseGroup">
    <h4 class="indications">
      {{#each indicationAndDoseGroup.indications as |indication| }}
        <span class="indication">{{{ indication.html }}}</span>,
      {{/each }}
    </h4>
    <p class="specificity"><span class="route">{{{ indicationAndDoseGroup.specificity.html }}}</span></p>
    <ul class="doses">
      {{#each indicationAndDoseGroup.adult as |dose| }}
      <li class="dose adult"><strong>For adults {{{ dose.ageGroup }}}</strong><br/>
        {{{ dose.textContent }}}</li>
      {{/each }}
      {{#each indicationAndDoseGroup.child as |dose| }}
      <li class="dose child"><strong>For children {{{ dose.ageGroup }}}</strong><br/>
        {{{ dose.textContent }}}</li>
      {{/each }}
    </ul>
  </section>
  {{/each }}
</section>
{{/if }}

{{#if indicationsAndDoses.doseAdjustments }}
  {{#each indicationsAndDoses.doseAdjustments }}
    {{> advice }}
  {{/each }}
{{/if }}

{{#if indicationsAndDoses.doseEquivalence }}
  {{#each indicationsAndDoses.doseEquivalence }}
    {{> advice }}
  {{/each }}
{{/if }}

{{#if indicationsAndDoses.extremesOfBodyWeight }}
  {{#each indicationsAndDoses.extremesOfBodyWeight}}
    {{> advice }}
  {{/each }}
{{/if }}

{{#if indicationsAndDoses.pharmacokinetics }}
  {{#each indicationsAndDoses.pharmacokinetics }}
    <section class="pharmacokinetics">
      <h3>Pharmacokinetics</h3>
      {{{ html }}}
    </section>
  {{/each }}
{{/if }}

{{#if indicationsAndDoses.potency }}
  {{#each indicationsAndDoses.potency }}
    <section class="potency">
      <h3>Potency of preperations</h3>
      {{{ html }}}
    </section>
  {{/each }}
{{/if }}
