<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NICE Formulary - {{ title }}</title>

  <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="NICE - The National Institute of Health and Care Excellence">

  <!--[if lt IE 9]>
  <script src="http://mattonfoot.github.io/NICE.UI/scripts/vendor/html5shiv.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link rel="stylesheet" href="http://mattonfoot.github.io/NICE.UI/styles/ui.css">

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="http://cdn.nice.org.uk/V3/Content/nice/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="http://cdn.nice.org.uk/V3/Content/nice/favicon-152.png">
  <meta name="msapplication-TileColor" content="#fafafb">
  <meta name="msapplication-TileImage" content="http://cdn.nice.org.uk/V3/Content/nice/favicon-144.png">

  <style>
  .tab-content {
    overflow: auto;
  }
  .tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }

  header .nav {
    list-style: decimal inside none;
  }
  header .nav > li {
    display: list-item;
  }
  header .nav > li > a {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #01769d;
  }
  header .nav > li > a:hover,
  header .nav > li > a:focus,
  header .nav > li.active > a,
  header .nav > li.active > a:hover,
  header .nav > li.active > a:focus {
    outline: 0;
    color: #08455b;
    background: transparent;
    text-decoration: none;
  }
  header .nav > li > a:hover,
  header .nav > li > a:focus {
    text-decoration: underline;
  }

  [outputclass="title"],
  .title {
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 24px;
    line-height: 2.4rem;
  }

  h3, h4, h5, h6, .title, [outputclass="title"] {
    margin-bottom: 0;
  }

  h1+p, h2+p, h3+p, h4+p, h5+p, h6+p, .title+p, [outputclass="title"]+p {
    margin-top: 0;
  }

  .doses {
    padding-left: 0;
    list-style: none;
  }
  .doses .dose {
    padding-left: 24px;
    padding-left: 2.4rem;
    margin-bottom: 6px;
    margin-bottom: .6rem;
  }
  .doses .adult {
    border-left: 7px solid #346e7f;
  }
  .doses .child {
    border-left: 7px solid #82176F;
  }

  /* DITA symbols */

  ph {
    color: #006;
  }

  tm::before {
    font-size: .8em;
    margin-left: -.2em;
    vertical-align: top;
  }
  tm[tmtype="reg"]::before {
    content: "\00ae";
  }
  tm[tmtype="copy"]::before {
    content: "\00a9";
  }
  tm[tmtype="trade"]::before {
    content: "\2122";
  }

  </style>
</head>

<body id="{{ _id }}" class="{{ ns1_outputclass }}">
  <header>
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="../">Home</a> <span class="divider glyph-chevron-right"></span></li>
        <li class="active"><a href="../drug/">Drugs</a></li>
      </ul>

      <h1>{{ title }}</h1>

      {{#if links.drugClass}}
        <p>{{#each links.drugClass as |drugClass| }}<a href="../drugClass/{{ drugClass.id }}.html">{{ drugClass.label }}</a>{{/each}}</p>
      {{/if }}

      <nav>
        <ul class="nav nav-list">

        {{#if indicationsAndDoses }}
          <li class="active"><a href="#indicationsAndDoses" data-toggle="tab">Indications and doses</a></li>
        {{/if }}
        {{#if constituents }}
          <li><a href="#constituents" data-toggle="tab">Constituants</a></li>
        {{/if }}
        {{#if drugAction }}
          <li><a href="#drugAction" data-toggle="tab">Drug action</a></li>
        {{/if }}
        {{#if pregnancy }}
          <li><a href="#pregnancy" data-toggle="tab">Pregnancy</a></li>
        {{/if }}
        {{#if hepaticImpairment }}
          <li><a href="#hepaticImpairment" data-toggle="tab">Hepatic impairment</a></li>
        {{/if }}
        {{#if renalImpairment }}
          <li><a href="#renalImpairment" data-toggle="tab">Renal impairment</a></li>
        {{/if }}
        {{#if contraindications }}
          <li><a href="#contraindications" data-toggle="tab">Contra indications</a></li>
        {{/if }}
        {{#if sideEffects }}
          <li><a href="#sideEffects" data-toggle="tab">Side effects</a></li>
        {{/if }}
        {{#if directionsForAdministration }}
          <li><a href="#directionsForAdministration" data-toggle="tab">Administration</a></li>
        {{/if }}
        {{#if patientAndCarerAdvice }}
          <li><a href="#patientAndCarerAdvice" data-toggle="tab">Patient and carer advice</a></li>
        {{/if }}
        {{#if nationalFunding }}
          <li><a href="#nationalFunding" data-toggle="tab">National funding/access decisions</a></li>
        {{/if }}
        {{#if importantSafetyInformation }}
          <li><a href="#importantSafetyInformation" data-toggle="tab">Important safety information</a></li>
        {{/if }}
        {{#if cautions }}
          <li><a href="#cautions" data-toggle="tab">Cautions</a></li>
        {{/if }}
        {{#if conceptionAndContraception }}
          <li><a href="#conceptionAndContraception" data-toggle="tab">conception and contraception</a></li>
        {{/if }}
        {{#if monitoringRequirements }}
          <li><a href="#monitoringRequirements" data-toggle="tab">Monitoring requirements</a></li>
        {{/if }}
        {{#if unlicensedUse }}
          <li><a href="#unlicensedUse" data-toggle="tab">Unlicensed use</a></li>
        {{/if }}
        {{#if prescribingAndDispensingInformation }}
          <li><a href="#prescribingAndDispensingInformation" data-toggle="tab">Prescribing and dispensing</a></li>
        {{/if }}
        {{#if treatmentCessation }}
          <li><a href="#treatmentCessation" data-toggle="tab">Treatment cessation</a></li>
        {{/if }}
        {{#if handlingAndStorage }}
          <li><a href="#handlingAndStorage" data-toggle="tab">Handling and storage</a></li>
        {{/if }}
        {{#if lessSuitableForPrescribing }}
          <li><a href="#lessSuitableForPrescribing" data-toggle="tab">Less suitable for prescribing</a></li>
        {{/if }}
        {{#if preTreatmentScreening }}
          <li><a href="#preTreatmentScreening" data-toggle="tab">Pre-treatment screening</a></li>
        {{/if }}
        {{#if effectOnLaboratoryTests }}
          <li><a href="#effectOnLaboratoryTests" data-toggle="tab">Effect on laboratory tests</a></li>
        {{/if }}
        {{#if professionSpecificInformation }}
          <li><a href="#professionSpecificInformation" data-toggle="tab">Profession specific information</a></li>
        {{/if }}
        {{#if exceptionsToLegalCategory }}
          <li><a href="#exceptionsToLegalCategory" data-toggle="tab">Exceptions to legal category</a></li>
        {{/if }}
        {{#if allergyAndCrossSensitivity }}
          <li><a href="#allergyAndCrossSensitivity" data-toggle="tab">Allergy and cross sensitivity</a></li>
        {{/if }}
        {{#if medicinalForms }}
          <li><a href="#medicinalForms" data-toggle="tab">Medicinal forms</a></li>
        {{/if }}
        </ul>
      </nav>

      <br/>
    </div>
  </header>

  <div class="container">
    <div class="tab-content">

      {{#if indicationsAndDoses }}
      <section class="tab-pane active" id="indicationsAndDoses">
        <h2>Indications and doses</h2>

        {{> indicationsAndDoses }}
      </section>
      {{/if }}

      {{#if constituents }}
      <section class="tab-pane" id="constituents">
        <h2>Constituents</h2>

        <p>
        {{#each constituents as |constituent| }}
          <a href="./{{ constituent.id }}.html">{{ constituent.label }}</a>
        {{/each }}
        </p>
      </section>
      {{/if }}

      {{#if drugAction }}
      <section class="tab-pane" id="drugAction">
        <h2>Drug action</h2>

        {{> drugAction }}
      </section>
      {{/if }}

      {{#if pregnancy }}
      <section class="tab-pane" id="pregnancy">
        <h2>Advice when patient is pregnant</h2>

        {{> pregnancy }}
      </section>
      {{/if }}

      {{#if hepaticImpairment }}
      <section class="tab-pane" id="hepaticImpairment">
        <h2>Advice regarding hepatic impairment</h2>

        {{> hepaticImpairment }}
      </section>
      {{/if }}

      {{#if renalImpairment }}
      <section class="tab-pane" id="renalImpairment">
        <h2>Advice regarding renal impairment</h2>

        {{> renalImpairment }}
      </section>
      {{/if }}

      {{#if contraindications }}
      <section class="tab-pane" id="contraindications">
        <h2>Contra indications</h2>

        {{> contraindications }}
      </section>
      {{/if }}

      {{#if sideEffects }}
      <section class="tab-pane" id="sideEffects">
        <h2>Known side effects</h2>

        {{> sideEffects }}
      </section>
      {{/if }}

      {{#if directionsForAdministration }}
      <section class="tab-pane" id="directionsForAdministration">
        <h2>Directions for administration</h2>

        {{> directionsForAdministration }}
      </section>
      {{/if }}

      {{#if patientAndCarerAdvice }}
      <section class="tab-pane" id="patientAndCarerAdvice">
        <h2>Advice for patients and carers</h2>

        {{> patientAndCarerAdvice }}
      </section>
      {{/if }}

      {{#if nationalFunding }}
      <section class="tab-pane" id="nationalFunding">
        <h2>National funding/access decisions</h2>

        {{> nationalFunding }}
      </section>
      {{/if }}

      {{#if importantSafetyInformation }}
      <section class="tab-pane" id="importantSafetyInformation">
        <h2>Important safety information</h2>

        {{> importantSafetyInformation }}
      </section>
      {{/if }}

      {{#if cautions }}
      <section class="tab-pane" id="cautions">
        <h2>Cautions regarding administration</h2>

        {{> cautions }}
      </section>
      {{/if }}

      {{#if conceptionAndContraception }}
      <section class="tab-pane" id="conceptionAndContraception">
        <h2>Advice regarding conception and contraception</h2>

        {{> conceptionAndContraception }}
      </section>
      {{/if }}

      {{#if monitoringRequirements }}
      <section class="tab-pane" id="monitoringRequirements">
        <h2>Monitoring requirements</h2>

        {{> monitoringRequirements }}
      </section>
      {{/if }}

      {{#if unlicensedUse }}
      <section class="tab-pane" id="unlicensedUse">
        <h2>Unlicensed use</h2>

        {{> unlicensedUse }}
      </section>
      {{/if }}

      {{#if prescribingAndDispensingInformation }}
      <section class="tab-pane" id="prescribingAndDispensingInformation">
        <h2>Information regarding prescribing and dispensing</h2>

        {{> prescribingAndDispensingInformation }}
      </section>
      {{/if }}

      {{#if treatmentCessation }}
      <section class="tab-pane" id="treatmentCessation">
        <h2>Advice regarding ceasing treatment</h2>

        {{> treatmentCessation }}
      </section>
      {{/if }}

      {{#if handlingAndStorage }}
      <section class="tab-pane" id="handlingAndStorage">
        <h2>Advice regarding handling and storage</h2>

        {{> handlingAndStorage }}
      </section>
      {{/if }}

      {{#if lessSuitableForPrescribing }}
      <section class="tab-pane" id="lessSuitableForPrescribing">
        <h2>Conditions when less suitable for prescribing</h2>

        {{> lessSuitableForPrescribing }}
      </section>
      {{/if }}

      {{#if preTreatmentScreening }}
      <section class="tab-pane" id="preTreatmentScreening">
        <h2>Pre-treatment screening</h2>

        {{> preTreatmentScreening }}
      </section>
      {{/if }}

      {{#if effectOnLaboratoryTests }}
      <section class="tab-pane" id="effectOnLaboratoryTests">
        <h2>Effect on laboratory tests</h2>

        {{> effectOnLaboratoryTests }}
      </section>
      {{/if }}

      {{#if professionSpecificInformation }}
      <section class="tab-pane" id="professionSpecificInformation">
        <h2>Profession specific information</h2>

        {{> professionSpecificInformation }}
      </section>
      {{/if }}

      {{#if exceptionsToLegalCategory }}
      <section class="tab-pane" id="exceptionsToLegalCategory">
        <h2>Exceptions to legal category</h2>

        {{> exceptionsToLegalCategory }}
      </section>
      {{/if }}

      {{#if allergyAndCrossSensitivity }}
      <section class="tab-pane" id="allergyAndCrossSensitivity">
        <h2>Advice regarding allergies and cross sensitivities</h2>

        {{> allergyAndCrossSensitivity }}
      </section>
      {{/if }}

      {{#if medicinalForms }}
      <section class="tab-pane" id="medicinalForms">
        <h2>Prepared medicinal forms of {{ title }}</h2>

        {{#if clinicalMedicinalProductInformation }}
        {{/if }}

        {{> medicinalForms }}

        {{#if children.medicinalForm }}
          {{#each children.medicinalForm as |form| }}
            <div id="{{ form.id }}"><a href="../medicinalForm/{{ form.id }}.html" data-target="#{{ form.id }}" data-action="load">{{ form.label }}</a></div>
          {{/each }}
        {{/if }}
      </section>
      {{/if }}
    </div>
  </div>

  <script src="http://mattonfoot.github.io/NICE.UI/scripts/vendor/jquery.js"></script>
  <script src="http://cdn.nice.org.uk/V3/Scripts/twitter.bootstrap.js"></script>
  <script src="/content/scripts/NICE.RemoteLoad.js"></script>
</html>
